<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mh.mapper.FriendshipMapper" >
  
  <resultMap id="BaseResultMap" type="cn.mh.po.Friendship" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="friend_id" property="friendId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
  </resultMap>
  
 
  <sql id="Base_Column_List" >
    id, name, user_id, friend_id, state, group_id
  </sql>
  <select id="findAllApply" parameterType="int" resultMap="BaseResultMap">
	select * from friendship where user_id = #{userId} and state = 0 and group_id  is null		
  </select>
  <delete id="delete">
  	delete from friendship where state =2
  </delete>
  
   <update id="UpdateFriend" parameterType="FU">
  		update friendship set state = #{state} 
  		<if test="groupId!=null">
  			,group_id = #{groupId} 
  		</if>
  		<if test="name!=null">
  			,name = #{name} 
  		</if>
  		where user_id = #{userId} and friend_id =#{friendId} 
  </update>
  
  <select id="findByGroupId" parameterType="int" resultMap="BaseResultMap">
  	select * from friendship where group_id = #{groupsId} and state = 1 
  </select>
  
  <select id="selectAll" parameterType="int" resultMap="BaseResultMap">
	select * from friendship where user_id = #{userId} and state = 1 		
  </select>
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from friendship
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <insert id="insert" parameterType="cn.mh.po.Friendship" >
   	<selectKey resultType="int" order="AFTER" keyProperty="id">
   		 SELECT LAST_INSERT_ID()
   	</selectKey>
    insert into friendship (id, name, user_id, 
      friend_id,  group_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{friendId,jdbcType=INTEGER},  #{groupId,jdbcType=INTEGER}
      )
  </insert>
 
  
</mapper>